.site-header {
    background-color: #ffffff;
    height: 60px;
    box-shadow: var(--box-shadow);
    .social-links {
        margin: 13px 0px;
        ul > li > a {
            width: 35px;
            display: block;
            position: relative;
            top: 0;
        }
        ul > li > a:hover {
            top: -5px;
        }
        ul > li:not(:last-child) {
            // margin-right: 10px;
            margin-right: 5px;
        }
    }
}
